[project]
name = "advent-of-code-2025-solutions"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "loguru>=0.7.3",
    "sympy>=1.14.0",
]

[dependency-groups]
dev = [
    "pyrefly>=0.43.1",
    "ruff>=0.14.7",
]

